<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quản lý mấy con hợi</title>
    <style>
        table{
            border-collapse: collapse;
        }
        td, th{
            border: black 1px solid;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }
        #editTable{
            width: 50%;
            aspect-ratio: 16/9;
            display: none;
            margin-left: 25%;
            margin-top: 10%;
            position: fixed;
        }
    </style>
</head>
<body>
<h3>Quản lý mấy con lợn</h3>
<div id="editTable">
    <table></table>
</div>
<table>
    <thead>
    <tr>
        <td>Stt</td>
        <td>Mã số</td>
        <td>Ngày nhập</td>
        <td>Trọng lượng nhập</td>
        <td>Ngày xuất</td>
        <td>Trọng lượng xuất</td>
        <td>Xuất xứ</td>
        <td>Trạng thái</td>
        <td>Chi tiết</td>
        <td>Xóa</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pig, pigStat : ${pigList}">
        <td th:text="${pigStat.index + 1}"></td>
        <td th:text="${pig.getCode()}"></td>
        <td th:text="${pig.getInDate()}"></td>
        <td th:text="${pig.getInHeight()}"></td>
        <td th:text="${pig.getOutDate() == null ? '' : pig.getOutDate()}"></td>
        <td th:text="${pig.getOutHeight() == null ? pig.getInHeight() : pig.getOutHeight()}"></td>
        <td th:text="${pig.getOrigin()}"></td>
        <td th:text="${pig.getOutDate() == null ? 'Chưa bán' : 'Đã bán'}"></td>
        <td><button th:attr="onclick=|actionButton('detail', ${pig.getId()})|">Xem</button></td>
        <td><button th:attr="onclick=|actionButton('delete', ${pig.getId()})|">xóa</button></td>
    </tr>
    </tbody>
</table>
</body>
<script>
    function actionButton(actionB, id){
        switch (actionB){
            case 'detail':
                document.getElementById('editTable').style.display = "grid";
                break;
            case 'delete':
                window.location.href = "/delete/" + id;
                break;
        }

    }
</script>
</html>