@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Roboto:wght@500&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    color: #51504B;
    box-sizing: border-box;
}
.color1{
    background-color: white;
}
.color2{
    background-color: #EAE9E5;
}
.color3{
    background-color: #BCBBB6;
}
.color4{
    background-color: #787772;
    color: white;
}
.color5{
    background-color: #51504B;
    color: white;
}
.filler{
    border-radius: 30px;
}
.boxshadow-inset{
    box-shadow: inset 10px 10px 20px #51504B;
}
.boxshadow-outset{
    box-shadow: 10px 10px 20px #51504B;
}
.hover{
    transition-duration: 0.2s;
}
.hover:hover{
    scale: 1.05;
    background-color: #51504B;
    color: white;
    transition-duration: 0.2s;
}
table{
    border-collapse: collapse;
    border-spacing: 5px;
}
td,th{
    border: 1px solid black;
    padding: 5px 10px;
}
#confirmTable{
    width: 20%;
    margin-left: 40%;
    margin-top: 10%;
    aspect-ratio: 2/1;
    display: none;
    padding: 25px;
    position: fixed;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 50px;
    grid-template-areas: "content content" "cancel confirm";
}
#confirmTable div{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#contentAlert{
    grid-area: content;
}
#cancel{
    grid-area: cancel;
}
#confirm{
    grid-area: confirm;
}
button{
    margin: 10px 0;
}
.targetText{
    color: red;
}
#detail-table{
    display: none;
    grid-template-columns: 200px auto;
    position: fixed;
    width: 30%;
    margin-left: 35%;
    margin-top: 10%;
    aspect-ratio: 20/9;
    padding: 20px;
}